@font-face {
    font-family: "champagne_limousines";
    src: url("../fonts/champagne_limousines.eot");
    src: url("../fonts/champagne_limousines.eot?#iefix")format("embedded-opentype"),
    url("../fonts/champagne_limousines.woff") format("woff"),
    url("../fonts/champagne_limousines.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "freestyle_script";
    src: url("../fonts/freestyle_script.eot");
    src: url("../fonts/freestyle_script.eot?#iefix")format("embedded-opentype"),
    url("../fonts/freestyle_script.woff") format("woff"),
    url("../fonts/freestyle_script.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OpenSansItalic";
    src: url("../fonts/OpenSansItalic.eot");
    src: url("../fonts/OpenSansItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansItalic.woff") format("woff"),
    url("../fonts/OpenSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}